<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Viewer and Email Sender</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	{% macro render_checkboxes(field) %}
		<ul class="{{ field.name }}">
			{% for choice in field.choices %}
				<li>
					{{ field.option_widget(type='checkbox', value=choice[0], checked=(choice[0] in field.data), id=(field.id + '_' + str(loop.index0)), name=field.name) }}
					<label for="{{ field.id + '_' + str(loop.index0) }}">{{ choice[1] }}</label>
				</li>
			{% endfor %}
		</ul>
	{% endmacro %}
    <div class="container">
        <h1>Jordan MD Email Central</h1>
        
        <!-- Render the filter form -->
        <form method="POST" action="{{ url_for('index') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
				{{ form.columns.label }} {{ render_checkboxes(form.columns) }}
            </div>
            <div class="mb-3">
                {{ form.custom_filter.label }} {{ form.custom_filter(class="form-select") }}
            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
        
        <!-- Render the data table and email form -->
        <form method="POST" action="{{ url_for('send_emails') }}">
            <table class="table">
                <thead>
                    <tr>

						<th>Select</th>
            			{% for col in columns %}
            			<th>{{ col }}</th>
            			{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td><input type="checkbox" name="email" value="{{ row['Email'] }}"></td>
                        <!-- Replace 'row.column1', 'row.column2', etc. with your actual column names -->
                        {% for col in columns %}
            			<td>{{ row[col] }}</td>
            			{% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Send Emails</button>
        </form>
    </div>
</body>
</html>